rules_version = '2';
// This rule allows anyone to read or write files for testing purposes
// DO NOT use this rule in production!
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if true; // 👈️ ALLOW ALL FOR LOCAL TESTING
    }
  }
}